/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.mainBg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.countNumber {
  color: #0f172a;
  font-size: 25px;
}
.countResult {
  color: #334155;
  font-size: 15px;
}

.button {
  background-color: #ffffff;
  color: #1e293b;
  border-width: 0px;
  border-radius: 5px;
  font-size: 10px;
  width: 100px;
  height: 22px;
}

.instruction {
  color: #334155;
  font-size: 8px;
}
